

<div class="row row-cols-1 row-cols-md-4 g-3">
    <div *ngFor="let libro of biblioteca" 
    class="col-md-2">
      <div 
      class="card h-100">
        <img src="{{libro.img}}" class="card-img-top" alt="Skyscrapers"/>
        <div class="card-body">
          <h5 class="card-title">{{libro.title}}</h5>
          <hr>
          <p class="card-text"><strong>Autor: </strong>{{libro.author}}</p>
            <p class="card-text"><strong>Editorial: </strong>{{libro.edit}}</p>
            <p class="card-text"><strong>Año: </strong>{{libro.date}}</p>
        </div>
        <div class="card-footer">
        
        <div class="d-flex justify-content-evenly align-items-center">
             <i class="{{determinarPais(libro)}}"></i> 
             <span *ngIf="libro.available > 0" class="badge bg-success">Disponible</span>
                <span *ngIf="libro.available == 0" class="badge bg-danger">No disponible</span>
        </div>
      </div>
    </div>
  </div>