
        <div>
        <div class="row">
            <div class="col-12">
                <h1>Título: <small>{{libro.title}}</small></h1>
            </div>
        </div>
    
        <div class="row">
            <div class="col-4">
                <h3>Portada</h3>
                <img [src]="libro.img" class="img-thumbnail">
            </div>
            <div class="col">
                <h3>Información</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>Editorial</strong> {{libro.edit}}
                    </li>
                    <li class="list-group-item">
                        <strong>Páginas</strong> {{libro.page}}
                    </li>
                    <li class="list-group-item">
                        <strong>Autor</strong> {{libro.author}}
                    </li>
                </ul>
    
            </div>
            <h3>Traducciones</h3>
            <div class="row">
                <div class="col">
                    <span class="badge bg-primary mr-1">{{libro.description}}</span>
                </div>
            </div>
        </div>
    </div>
