<div class="flex flex-row w-full">
    <div class="flex align-items-center justify-content-around" >
        <div class="flex flex-column ">
    <h1 class="text-center white-space-normal fs-1 text text-white" >Bienvenidos</h1>
    <h1 class="text-center white-space-normal  fs-1 text text-white">Biblioteca Popular</h1>
    <h3 class="text-center white-space-normal fs-3 text text-white"> Donde encontraras la mas grande variedad de libros!!</h3>
</div>
</div>
    <img  class="flex align-items-center justify-content-around"   src= ".\assets\img\5128b7ff4b40f49cd6c0ce8698b9a19a-ilustracion-de-libros-de-lectura-de-nino.png" alt="libros niños">
    
</div>